@use 'sass:math';

:root {
    --font-sans: 'Calibre', 'Inter', 'San Francisco', 'SF Pro Text',
        -apple-system, system-ui, sans-serif;
    --font-mono: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
    --background-color: rgb(6, 11, 25);
     --background-lighter-1: #050e36;
        --backgrount-lighter-2: #152657;
   
    --background-mono-3: #191406;
    --code-bg-color: #121212
    --code-text-color: #fff
    --code-surface-color: #1f1f1f
    --surface-color: #222831
    --primary-color: #00ADB5;
    --accent-color: #64ffda;
    --border-color: rgb(255, 255, 255, 0.1);
    --border-color-blue: #004daa;
    --border-shadow: 1px solid var(--blue-dark);
    --blue-dark: #004daa;
    --blue-light: #0087ca;
    --highlight-color: #0087ca;
    --text-color: #e6e2d2;
    --font-main: SignifierWeb, 'Times New Roman', serif;
    --dark-navy: #020c1b;
    --navy: #0a192f;
    --light-navy: #112240;
    --lightest-navy: #233554;
    --navy-shadow: rgba(2, 12, 27, 0.7);
    --dark-slate: #495670;
    --slate: #8892b0;
    --light-slate: #a8b2d1;
    --lightest-slate: #ccd6f6;
    --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    --nav-height: 100px;
    --nav-scroll-height: 70px;
    --line-height: 1.3;
    --backdrop: #292929;
    --bg-radial-pre: rgba(6,87,173, 1);
    --bg-radial: background: radial-gradient(circle, var(--bg-radial-pre) 0%, rgba(25,25,25,0.9) 100%);
    --vt-c-white: #ffffff;
    --vt-c-white-soft: #f9f9f9;
    --vt-c-white-mute: #f1f1f1;
    --vt-c-black: #1a1a1a;
    --vt-c-black-pure: #000000;
    --vt-c-black-soft: #242424;
    --vt-c-black-mute: #2f2f2f;
    --vt-c-gray: #8e8e8e;
    --vt-c-gray-light-1: #aeaeae;
    --vt-c-gray-light-2: #c7c7c7;
    --vt-c-gray-light-3: #d1d1d1;
    --vt-c-gray-light-4: #e5e5e5;
    --vt-c-gray-light-5: #f2f2f2;
    --vt-c-gray-dark-1: #636363;
    --vt-c-gray-dark-2: #484848;
    --vt-c-gray-dark-3: #3a3a3a;
    --vt-c-gray-dark-4: #282828;
    --vt-c-gray-dark-5: #202020;
    --vt-c-divider-light-1: rgba(60, 60, 60, .29);
    --vt-c-divider-light-2: rgba(60, 60, 60, .12);
    --vt-c-divider-dark-1: rgba(84, 84, 84, .65);
    --vt-c-divider-dark-2: rgba(84, 84, 84, .48);
    --vt-c-text-light-1: var(--vt-c-indigo);
    --vt-c-text-light-2: rgba(60, 60, 60, .7);
    --vt-c-text-light-3: rgba(60, 60, 60, .33);
    --vt-c-text-light-4: rgba(60, 60, 60, .18);
    --vt-c-text-light-code: var(--vt-c-indigo-soft);
    --vt-c-text-dark-1: rgba(255, 255, 255, .87);
    --vt-c-text-dark-2: rgba(235, 235, 235, .6);
    --vt-c-text-dark-3: rgba(235, 235, 235, .38);
    --vt-c-text-dark-4: rgba(235, 235, 235, .18);
    --vt-c-text-dark-code: var(--vt-c-indigo-light);
    --background-color-3: rgba(255, 255, 255, 0.02);
    --vt-c-text-1: var(--vt-c-text-dark-1);
    --vt-c-text-2: var(--vt-c-text-dark-2);
    --vt-c-text-3: var(--vt-c-text-dark-3);
    --vt-c-text-4: var(--vt-c-text-dark-4);

    --vt-shadow-1: 0 1px 2px rgba(0, 0, 0, .04), 0 1px 2px rgba(0, 0, 0, .06);
    --vt-shadow-2: 0 3px 12px rgba(0, 0, 0, .07), 0 1px 4px rgba(0, 0, 0, .07);
    --vt-shadow-3: 0 12px 32px rgba(0, 0, 0, .1), 0 2px 6px rgba(0, 0, 0, .08);
    --vt-shadow-4: 0 14px 44px rgba(0, 0, 0, .12), 0 3px 9px rgba(0, 0, 0, .12);
    --vt-shadow-5: 0 18px 56px rgba(0, 0, 0, .16), 0 4px 12px rgba(0, 0, 0, .16);

    --vt-font-family-base: "Inter var experimental", "Inter var", Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    --vt-font-family-mono: Menlo, Monaco, Consolas, "Courier New", monospace;
}

$radial_bg: var(--bg-radial);
$color_bg: var(--background-color);
$color_1: var(--lightest-slate);
$color_1_accent: var(--dark-slate);
$color_2: var(--highlight-color);
$color_3: rgba(255, 255, 255, 0.75);
$header-font: 'Crimson', serif;
$header2-font: var(--font-sans);
$font-family_1: var( --vt-font-family-base);
$font-family_2: var(--vt-font-family-mono);
$background-color_1: var(--background-color);
$background-color_2: transparent;
$background-color_4: lightblue;

$min_width: 320px;
$max_width: 1200px;
$min_font: 16px;
$max_font: 20px;
$mod_1: 1.2; // mobile
$mod_2: 1.5; // desktop

// FLUID TYPESCALE
@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
    $u1: unit($min-vw);
    $u2: unit($max-vw);
    $u3: unit($min-font-size);
    $u4: unit($max-font-size);

    @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
        & {
            font-size: $min-font-size;
            @media screen and (min-width: $min-vw) {
                font-size: calc(
                    #{$min-font-size} + #{strip-unit(
                            $max-font-size - $min-font-size
                        )} *
                        (
                            (100vw - #{$min-vw}) / #{strip-unit(
                                    $max-vw - $min-vw
                                )}
                        )
                );
            }
            @media screen and (min-width: $max-vw) {
                font-size: $max-font-size;
            }
        }
    }
}

@function strip-unit($number) {
    @if type-of($number) == 'number' and not unitless($number) {
        @return math.div($number, $number * 0 + 1);
    }

    @return $number;
}

.bg-lighter-blue {
    background-color: var(--background-lighter-1) !important;
}

.bg-dark-blue {
    background-color: var(--background-color) !important;
}

.no-bg {
    background: none !important;
}

// ACTIVE //
.active-text {
    color: var(--vt-c-text-1);
    transition: color .25s;
}

.animation-underline {
    font-family: var(--font-mono);
    display: inline-block;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: lightblue;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }

    &:hover {
        &::after {
            transform: scaleX(1);
            transform-origin: bottom left;
        }
    }
}

// ICONS //
#navicon {
    width: 24px;
    height: 24px;
    margin: 0 0.5rem;
}

.aligned-icon {
    position: fixed;
    left: 26px;
    top: var(--small-header-top);
}

svg.feather {
    fill: none;
}

a svg.icon{
    width: 22px;
    height: 20px;
    color: var(--light-slate);
    fill: 'None' !important;
}

.feather {
    &:hover {
        color: $color_2 !important;
        transform: scale(1.5);
        transition: all 0.2s ease !important;
    }
}


#ais-right {
    height: 100%;
    max-height: 60px;
}


.side-absolute {
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: 16px;
    right: auto;
    z-index: 10;
    color: var(--light-slate);
    padding-top: calc(var(--small-header-height) + 1rem);

    >.side-absolute-inner {
    display: flex;
    flex-direction: column;
    -moz-box-align: center;
    margin: 0px;
    padding: 0px;
    list-style: none;

        &:after {
            content: "";
            display: block;
            width: 1px;
            height: 90px;
            margin: 0px auto;
            background-color: var(--light-slate);
        }
        > li a {
            padding: 10px;

            > svg {
                width: 20px;
                height: 20px;
            }
        }
    }
}

// LARGE MAIN HEADER //
nav {
    display: flex;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    color: $color_1;
    .nav-section {
        padding: 1rem 2rem;
        display: flex;
        gap: 3rem;
        border-left: 1px solid var(--border-color);
        align-items: center;
        justify-content: center;
    }

    #nav-logo-section {
        justify-content: center;
        flex-basis: calc(100% / 3);
        padding-left: 2.5rem;
        .svg-holder {
            color: $color_1;

            &:hover {
                svg {
                    color: $color_2;
                    transform: scale(1.1);
                    transition: all 1s ease;
                }
            }
        }
    }

    > div#nav-mobile-section {
        display: flex;
        flex-basis: calc(100% * (2 / 3));
        z-index: 2;

        > #nav-social-section,
        > #nav-contact-section {
            flex-grow: 1;
        }

        > #nav-social-section {
            > .links {
                .v-btn__content {
                    color: $color_1;
                    margin: 0px 0.5rem;

                    &:hover {
                        color: $color_2;
                        transform: scale(1.2);
                        transition: all 0.2s ease;
                    }
                }
            }
        }

        > #nav-link-section {
            flex-basis: 50%;
        }
    }

    > button#nav-toggle-button {
        align-items: center;
        background-color: transparent;
        border: none;
        border-left: 1px solid var(--border-color);
        color: white;
        cursor: pointer;
        display: none;
        gap: 0.8rem;
        height: 100%;
        justify-content: center;
        outline: none;
        padding: 0rem 3rem;
        position: relative;
        z-index: 3;

        &:hover {
            color: var(--highlight-color);
            transition: color 0.5s ease;
            > span {
                color: var(--highlight-color);
                transition: color 0.5s ease;
            }
            > i {
                color: var(--highlight-color);
                transition: color 0.5s ease;
            }
        }

        > span,
        > i {
            display: inline-block;
            height: 1rem;
            line-height: 1rem;
        }
    }
}

// TRANSITIONS //

.fade-enter-active {
    transition: opacity 0.5s ease;
}

.fade-leave-active {
    transition: opacity 0.5s ease;
}

.fade-enter-from {
    opacity: 0;
    transition: all 0.5s ease;
}

.fade-leave-to {
    opacity: 0
}

.fade-enter-to {
    opacity: 1;
    transition: all 0.5s ease;

}

.fade-leave-from {
    opacity: 1
}


